*:not(textarea) {
  font-family: Calibri, sans-serif;
}
#mainTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px;
}
h1 {
  font-size: 3em;
  margin: auto;
}
table {
  width: 95%;
  height: 100%;
  margin: 30px;
  padding: 0px;
}
td {
  width: 50%;
  height: 100%;
  padding: 20px;
}
textarea {
  width: 100%;
  height: 530px;
  margin-top: 10px;
  resize: none;
}
